<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}" >
<head>
    <title >Signup</title>
</head>
<body>

    
    

    <div id="content">
    <!-- Card -->
<div class="grid grid-cols-12 mt-4">
    <div class="col-span-4 md:col-span-2  lg:col-span-3 xl:col-span-4 "></div>
    <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4 ">

        <div 
        href="#" class="block p-6 border-t-[10px] border-indigo-500 bg-white  rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-indigo-500 dark:hover:bg-gray-700">
          
        <!-- messahg  fragment -->
          <div data-th-replace="~{message::message}" ></div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup here</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Start adding your contacts on cloud.</p>
        <form  novalidate  data-th-action="@{'/do-register'}" method="post" data-th-object="${userForm}"  class="mt-5">

            <!-- name -->
            <div class="mb-3">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input type="text" data-th-field="*{name}" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter name here" required />
              <p th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}" 
              class="text-red-500 py-2 px-1" 
              >name field is required</p>
              </div>

              <!-- email -->
              <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email"data-th-field="*{email}" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@scm.com" required />
                <p th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}" 
                class="text-red-500 py-2 px-1" 
                >name field is required</p>
              </div>

             
              <!-- password field  -->

              <div class="mb-3">
                <label for="pwd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" data-th-field="*{password}" id="pwd" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="******" required />
                <p th:if="${#fields.hasErrors('password')}"
                th:errors="*{password}" 
                class="text-red-500 py-2 px-1" 
                >name field is required</p>
              </div>

               <!-- phone field -->

               <div class="mb-3">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                <input type="text" data-th-field="*{phone}" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                <p th:if="${#fields.hasErrors('phone')}"
                th:errors="*{phone}" 
                class="text-red-500 py-2 px-1" 
                >name field is required</p>
              </div>


              <!-- about field textarae -->

                <div class="mb-3">
                <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write about yourself</label>
                <textarea id="about" data-th-field="*{about}" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                <p th:if="${#fields.hasErrors('about')}"
                th:errors="*{about}" 
                class="text-red-500 py-2 px-1" 
                >name field is required</p>
              </div>


               <!-- buttons -->

               <div class="mb-3 flex justify-center">
                <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Submit</button>
                <button type="reset" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Reset </button>
               </div>

        </form>
        </div>

    </div>

</div>

    </div>
</body>
</html>